@font-face {
  font-family: "SF Heavy";
  src: url("../assets/SF-Pro-Text-Heavy.otf") format("opentype");
}

@font-face {
  font-family: "SF Bold";
  src: url("../assets/SF-Pro-Text-Bold.otf") format("opentype");
}

@font-face {
  font-family: "SF Regular";
  src: url("../assets/SF-Pro-Text-Regular.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --cor-primaria: #4831d4;
  --cor-secundaria: #ccf381;
}

body {
  font-size: 100%;
  font-family: "SF Regular", sans-serif;
}

header {
  position: fixed;
  top: 0;

  width: 100%;
  height: 150px;
  padding: 24px;
  padding-inline: 16px;

  background: linear-gradient(68.15deg, #1d1075 16.62%, #4831d4 85.61%);
  overflow: hidden;
  z-index: 99;
  box-shadow: 0.85px 0.85px 4px 0.85px rgba(0, 0, 0, 0.75);
}

header > img {
  height: 50px;
}

.nav-list > li > a {
  font-size: 24px;
  color: var(--cor-secundaria);
  font-family: "SF Heavy", sans-serif;
  font-weight: 800;
  position: relative;
  padding: 0 10px;
}

.nav-list > li > a:after {
  content: "";
  position: absolute;
  background-color: var(--cor-secundaria);
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
.nav-list > li > a:hover {
  color: #e0f7b7;
}
.nav-list > li > a:hover:after {
  width: 100%;
}

#linkedin {
  height: 48px;
}

.net-links {
  padding-right: 16px;
}

.net-links > a > img {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor: pointer;
}

.net-links > a > img:hover,
.net-links > a > img:focus,
.net-links > a > img:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#github-img {
  height: 46px;
}

.hamburguer {
  display: none;
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.img-profile {
  background-color: #b7c0d4;
  height: 322px;
  width: 322px;
  border-radius: 51% 49% 50% 50% / 37% 37% 63% 63%;
}

.description-profile > h1,
h2 {
  font-family: "SF Heavy", sans-serif;
  font-weight: 800;
}

.description-profile > h1 {
  color: var(--cor-primaria);
  font-size: 3.8em;
}

.description-profile > button {
  padding: 10px;
  border: none;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  font-family: "SF Heavy", sans-serif;
  font-weight: 800;
  font-size: 2.4rem;
  width: 300px;
  height: 90px;
  margin-top: 30px;
  border-radius: 8px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  cursor: pointer;
}

#download {
  text-decoration: none;
  color: var(--cor-secundaria);
}

.description-profile > button:hover,
.description-profile > button:focus,
.description-profile > button:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

strong {
  color: #82ff05;
}
#home {
  padding-top: 200px;
}
.about {
  display: flex;
  align-items: center;
  background: linear-gradient(90deg, #4831d4 73%, #ccf381 20%);
  margin-top: 100px;
  width: 100%;
  height: 100%;
  height: 550px;
}

.about-description {
  padding: 20px;
  margin: 30px;
}

.about-description > h2 {
  position: relative;
  color: var(--cor-secundaria);
  font-family: "SF Heavy", sans-serif;
  font-size: 3.8em;
  padding: 0 10px;
  cursor: default;
}

.about-description > h2:after {
  content: "";
  position: absolute;
  background-color: var(--cor-secundaria);
  height: 4px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.about-description > h2:hover:after {
  width: 40%;
}

.about-description > p {
  color: #fff;
  font-family: "SF Regular", sans-serif;
  font-size: 1.1em;
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
}

.avatar {
  margin: 0 auto;
  width: 400px;
  height: 400px;
  background: #b7c0d4 url("../assets/download20231103193746.png") no-repeat
    center center;
  background-size: contain;
}

#techs {
  padding-top: 150px;
}

.techs {
  margin-bottom: 32px;
}
.techs > h2 {
  text-align: center;
  margin-bottom: 32px;
  color: var(--cor-primaria);
  font-family: "SF Heavy", sans-serif;
  font-size: 3.8em;
}

.all-techs {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.icon-tech {
  background-color: black;
  width: 98px;
  height: 98px;
  border-radius: 23px;
  background: linear-gradient(145deg, #4d34e3, #412cbf);
  box-shadow: 5px 5px 10px #3d2ab4, -5px -5px 10px #5338f4;

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.icon-tech:hover,
.icon-tech:focus,
.icon-tech:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#section-techs-02 {
  margin-top: 15px;
}

#projects {
  padding-top: 150px;
}

.projects {
  margin-top: 44px;
}

.projects > h2 {
  font-size: 3.8em;
  font-family: "SF Heavy", sans-serif;
  color: #4831d4;
  text-align: center;
}

.thumbnail {
  width: 100%;
  border-radius: 10px;
  background: #b7c0d4 url(../assets/to-do-list.png) no-repeat center center;
  background-size: contain;
  box-shadow: 5px 5px 10px #a2aabb, -5px -5px 10px #b7c0d4;
  max-width: 450px;
  height: 300px;
}

.description-project {
  max-width: 550px;
}

.description-project > h3 {
  color: var(--cor-primaria);
  font-size: 2em;
  font-family: "SF Bold", sans-serif;
}

.description-project > p {
  color: black;
  font-size: 1.1em;
  font-family: "SF Regular", sans-serif;
}

.buttons-project {
  padding: 20px;
  width: 150px;

  border-style: none;
  border-radius: 6px;
  background: var(--cor-primaria);
  color: #fff;
  font-family: "SF Regular", sans-serif;
  font-size: 1em;
  margin-top: 10px;

  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  cursor: pointer;
}

.buttons-project:hover,
.buttons-projects:focus,
.buttons-projects:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.template-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 44px;
  margin-bottom: 44px;
}

.contact > h2 {
  text-align: center;
  font-family: "SF Heavy", sans-serif;
  font-size: 3.8em;
  color: var(--cor-primaria);
  margin-top: 200px;
}

.form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
  margin-top: 32px;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.form label {
  color: var(--cor-primaria);
  line-height: 1;
  margin-bottom: 0.5rem;
  font-family: "SF Bold", sans-serif;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
  background-color: rgba(150, 150, 150, 0.342);
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: #1d1075;
  box-shadow: 0 0 0 3px #4831d4;
}

.form button {
  display: block;
  padding: 1rem;
  background: #4831d4;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: 1px solid #4831d4;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #5439fd;
}
footer {
  display: flex;

  background: linear-gradient(68.15deg, #1d1075 16.62%, #4831d4 85.61%);
  color: var(--cor-secundaria);
  font-size: 1.2em;
  font-family: "SF Heavy", sans-serif;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 153px;
}

#html {
  background: var(--cor-primaria) url("../assets/html-icon.svg") no-repeat
    center center;
  background-size: 5rem;
}

#css {
  background: var(--cor-primaria) url("../assets/css-icon.svg") no-repeat center
    center;
  background-size: 3.5rem;
}

#express {
  background: var(--cor-primaria) url("../assets/express-icon.svg") no-repeat
    center center;
  background-size: 5rem;
}

#node {
  background: var(--cor-primaria) url("../assets/nodejs-icon.svg") no-repeat
    center center;
  background-size: 5.5rem;
}

#javascript {
  background: var(--cor-primaria) url("../assets/javascript-icon.svg") no-repeat
    center center;
  background-size: 3rem;
}

#postgresql {
  background: var(--cor-primaria) url("../assets/postgresql-icon.svg") no-repeat
    center center;
  background-size: 5rem;
}

#jquery {
  background: var(--cor-primaria) url("../assets/jquery-icon.svg") no-repeat
    center center;
  background-size: 5rem;
}

#git {
  background: var(--cor-primaria) url("../assets/git-icon.svg") no-repeat center
    center;
  background-size: 5rem;
}

#github {
  background: var(--cor-primaria) url("../assets/github-icon.svg") no-repeat
    center center;
  background-size: 5rem;
}

#figma {
  background: var(--cor-primaria) url("../assets/figma-icon.svg") no-repeat
    center center;
  background-size: 3rem;
}

#npm {
  background: var(--cor-primaria) url("../assets/npm-icon.svg") no-repeat center
    center;
  background-size: 5rem;
}
