@media screen and (min-width:375px) and (max-width: 499px) {
  header > p {
   font-size: 1em;
    border-right: 3px solid #04ba71;
  }
  .conteudo-principal {
    display: flex;
    flex-direction: column-reverse;
  }
  .conteudo-principal > img {
    width: 250px;
    margin-top: 0px;
    padding-top: 0px;
  }
  .conteudo-principal-escrito > h1 {
    font-size: 1.4em;
  }
  .conteudo-principal-escrito > p {
    font-size: 1em;
  }
  #Logo{
    display: none;
  }

}
@media screen and (min-width:500px) and (max-width:653px) {
  #Logo{
    display: none;
  }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background: linear-gradient(68.15deg, #154342 16.62%, #212121 85.61%);
  }

  
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .conteudo-principal {
    display: flex;
    flex-direction: row-reverse;
  }
  .conteudo-principal-escrito > h1 {
    font-size: 1.5em;
  }
  .button1,.button2 {
    width: 100%;
    height: 50px;
    margin: 10px 5px 5px;
  }
  /* elemento pai dos containers */
  .estilo-containers {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  .estilo-containers > div{
    margin-bottom: 25px;
  }
  
 .conteudo-principal{
  padding-top: 150px;
 }
nav{
 margin: auto;
  gap: 20px;
}
 
}
/* Dispositivos um pouco maiores que um celular tablet >> desktop */
@media screen and (min-width: 992px) {
  body {
    background: linear-gradient(68.15deg, #0f2e2e 16.62%, #212121 85.61%);
  }
  .conteudo-secundario > p {
    width: 800px;
  }
  .conteudo-destaque {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .estilo-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-content: center;
  }
  .all-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #modal{
    display: none;
  }
  .caixa{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
    
  }
  .conteudo-principal>img{
    margin-top: 0px;
    padding-top: 0px;
  }
  
}
