@media screen and (min-width:375px) and (max-width: 499px) {
  header > p {
   font-size: 1em;
    border-right: 3px solid #04ba71;
  }
  main{
    position: relative;
  }
  
  nav>a{
    padding: 10px;
    margin-top: 30px;
    font-size: 1em;
    display: block;
    text-align: center;
  }
  .conteudo-principal {
    display: flex;
    flex-direction: column-reverse;
  }
  .conteudo-principal > img {
    padding-top: 48px;
    width: 250px;
  }
  .conteudo-principal-escrito > h1 {
    font-size: 1.4em;
  }
  .conteudo-principal-escrito > p {
    font-size: 1em;
  }
  #nav2{
    display: none;
  }
  dialog{
    position: absolute;
    height: 400px;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0,35);
    -webkit-backdrop-filter: blur(15px);
  }
  dialog>button{
    width: 40px;
    height: 40px;
    border-radius: 10px;
    margin-top: 30px;
    border-style: none;
    background-color: #04ba71;
  }
  #modal{
    background-color: #04ba71;
    border-style: none;
    padding: 5px;
    width: 40px;
    border-radius: 10px;
  }
  
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
  body {
    background: linear-gradient(68.15deg, #154342 16.62%, #212121 85.61%);
  }

  .conteudo-secundario > p {
    width: 60vw;
  }
  footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .conteudo-principal {
    display: flex;
    flex-direction: row-reverse;
  }
  .conteudo-principal-escrito > h1 {
    font-size: 1.5em;
  }
  .button1,.button2 {
    width: 100%;
    height: 50px;
    margin: 10px 5px 5px;
  }
  /* elemento pai dos containers */
  .estilo-containers {
    display: flex;
    flex-direction: row;
  }
  #modal{
    display: none;
  }
}
/* Dispositivos um pouco maiores que um celular tablet >> desktop */
@media screen and (min-width: 992px) {
  body {
    background: linear-gradient(68.15deg, #0f2e2e 16.62%, #212121 85.61%);
  }
  .conteudo-secundario > p {
    width: 800px;
  }
  .conteudo-destaque {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .estilo-containers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
    align-content: center;
  }
  .all-projects {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #modal{
    display: none;
  }
 
}
